.foodCardSection{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 70px;
    /* margin: 20px 120px; */
    /* background-color: red; */
}

.food-card{
    width: 280px;
    /* background-color: rgb(255, 182, 139); */
    border-radius: 10px;
    margin: 25px;
    background-color: #fee6e6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
  

}
.food-card:hover{
    transform: scalex(110%);
    cursor: pointer;
    background-color: #ffd9d9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);


}

.food-img{
    width: 250px;
    border-radius: 20px;
}